[2022-11-06 09:50] schochastics opened #3 "save a default instance"
Users shouldn't constantly have to supply the mastodon instance

[2022-11-06 09:53] chainsawriot commented on #3
#2

[2022-11-06 09:54] schochastics commented on #3
mind reading

[2022-11-06 09:57] #3 closed

[2022-11-06 09:58] chainsawriot commented on #3
I was thinking about organizing the whole thing as an R6, because it is more like a typical DB client rather than something like `rtweet` or `academictwitteR` (which has only one URL). But that would also introduce a lot of complexity for development.

[2022-11-06 10:06] schochastics commented on #3
I am still working through the API docs to get a full understanding. Learning R6 has been on my TODO list for a while so maybe we can have this on the roadmap for later if refactoring wouldn't be too complex

[2022-11-06 10:21] schochastics opened #4 "enable login"
either `create_bearer()` should allow to login a user or there should be a separate function

[2022-11-06 15:29] schochastics commented on #4
@chainsawriot any experience with handling authentication? Do you think my solution is ok?

[2022-11-06 16:00] schochastics commented on #4
auth works: https://mastodon.social/@schochastics/109297677620300632

[2022-11-06 16:09] chainsawriot commented on #4
@schochastics It's possible to do it with [oauth2.0_token()](https://httr.r-lib.org/reference/oauth2.0_token.html) also.

[2022-11-06 16:21] schochastics opened #6 "write bearer to file"
users shouldnt constantly need to supply the bearer token. see https://github.com/schochastics/rtoot/pull/5#issuecomment-1304828852

[2022-11-06 16:34] schochastics commented on #4
I will give it a shot later. If I fail, you may fix that ;-)

[2022-11-06 16:36] chainsawriot commented on #4
@schochastics I am experimenting with it. It is quite tedious.

[2022-11-06 19:09] #4 closed

[2022-11-06 19:11] schochastics opened #7 "oauth2.0 to get user token"
see discussion: https://github.com/schochastics/rtoot/issues/4#issuecomment-1304835225

[2022-11-06 19:29] chainsawriot opened #9 "Rectangularize `status`"
Need to think about how to rectangularize a single `status` #8 ; so that we can return an array of statuses (e.g. a timeline) as a tibble.

[2022-11-06 20:50] schochastics commented on #6
`check_token_rtoot()` should be called at the beginning of each function where a token is needed

[2022-11-06 20:50] #6 closed

[2022-11-06 21:37] JBGruber opened #10 "Guided authentication?"
The path to authentication is still pretty manual/verbose. Wouldn't it make more sense to have a guided function like `auth_setup()`? `check_token_rtoot()` could then initiate `auth_setup()` instead of erroring. I'm happy to make a PR if you are interested.

[2022-11-06 21:50] JBGruber opened #11 "Status on different instance"
I get:

[code]

The problem is that the request URL is automatically set from my token ("https://fosstodon.org/api/v1/statuses/109298295023649405"), yet this status was posted on a different instance. There is currently no way to change the instance of the status. This works, by the way :smile: :

[code]

[2022-11-06 23:02] schochastics commented on #11
hmm any suggestions? would it be an option to have an optional instance parameter? if it is NULL use the one from the token, else use that instance?

[2022-11-06 23:03] schochastics commented on #10
sure this sounds like a good idea! happy to look at a PR if you make one

[2022-11-07 06:49] schochastics opened #12 "Not everything needs a token"
Some endpoints can be used [anonymously](https://docs.joinmastodon.org/client/public/). Shouldn't force the use of tokens everywhere

(Also related to #11)

[2022-11-07 07:37] chainsawriot commented on #11
One way to deal with this is add an `instance` parameter to all functions to bypass the `$instance` stored in the token.

[2022-11-07 07:46] schochastics commented on #12
Endpoints:

## anonymous requests (https://docs.joinmastodon.org/client/public/)

- [GET /api/v1/accounts/:id](https://docs.joinmastodon.org/methods/accounts/)
- [GET /api/v1/accounts/:id/statuses](https://docs.joinmastodon.org/methods/statuses/)
- [GET /api/v1/statuses/:id](https://docs.joinmastodon.org/methods/statuses/#view-specific-status)
- [GET /api/v1/statuses/:id/reblogged_by](https://docs

[2022-11-07 07:49] schochastics commented on #11
that's what I thought too. But probably only makes sense for the public endpoints (see https://github.com/schochastics/rtoot/issues/12#issuecomment-1305204606)

[2022-11-07 07:50] schochastics opened #13 "extend verify credentials to clients"
currently only user tokens can be verified. Clients can be verified too: https://docs.joinmastodon.org/client/token/

[2022-11-07 08:12] chainsawriot commented on #9
Good artists copy

https://github.com/ropensci/rtweet/blob/2c4885be12af259ed7d3ffe9703416216ea994be/R/tweets_and_users.R

[2022-11-07 08:20] chainsawriot commented on #9
https://github.com/ropensci/rtweet/blob/8552ccf3d10067665e2011d54d3ae2e830894e3a/R/tweet_object.R

[2022-11-07 08:26] schochastics commented on #9
hmm was afraid we need to hardcode the response structure

[2022-11-07 08:44] JBGruber commented on #11
This is exactly what I would have suggested and it works well. When bypassing the checks in `make_get_request`, however, it also works without a token. So I agree it would make sense to let users lookup statuses without authentication.

[2022-11-07 08:56] JBGruber commented on #12
As far as I can see, you only need to change:

[code]
Then every function that wraps an endpoint that takes anyonymous requests can do something like this:

[code]

[2022-11-07 09:02] schochastics commented on #12
yes this should do the trick. Working on it :)

[2022-11-07 09:33] #10 closed

[2022-11-07 10:42] schochastics opened #18 "save token to environment"
See discussion https://github.com/schochastics/rtoot/pull/15#issuecomment-1305331944

[2022-11-07 11:37] schochastics commented on #13
@JBGruber maybe the reason some of your verification failed is that the verifying credentials for users and clients calls different endpoints? The commit above fixes that

[2022-11-07 11:37] #13 closed

[2022-11-07 11:54] schochastics opened #19 "examples and tests"
Probably need to learn from rtweet how to properly setup unit testing and examples. Suggestions welcome

[2022-11-07 12:10] chainsawriot commented on #19
For `academictwitteR`, `httptest` is used.

https://github.com/cjbarrie/academictwitteR/blob/master/tests/testthat/test-get_all_tweets.R

[2022-11-07 12:35] schochastics opened #21 "dplyr dependency needed?"
Very convenient here: https://github.com/schochastics/rtoot/blob/main/R/instances.R#L75
If we do not need more functionality from `dplyr`, we could try to recreate this in base

[2022-11-07 12:44] chainsawriot commented on #21
It sounds okay to me. `dplyr`'s dependencies overlap a great deal with `tibble` and `httr`.

[2022-11-07 12:47] schochastics opened #22 "cant cancel auth_setup"
Should add a functionality to cancel at a prompt

[2022-11-07 13:08] schochastics commented on #22
nvm its `esc` not `ctrl + c`

[2022-11-07 13:08] #22 closed

[2022-11-07 13:08] schochastics commented on #21
leaving it for now then

[2022-11-07 13:08] #21 closed

[2022-11-07 13:10] schochastics opened #24 "data structure for accounts"
data structure for statuses is great. we need something similar for accounts (https://github.com/schochastics/rtoot/blob/main/R/datastructure.R#L31)

[2022-11-07 13:25] schochastics commented on #11
this should be fixed now

[2022-11-07 13:25] #11 closed

[2022-11-07 13:40] JBGruber commented on #13
Yes, that was the problem! It didn't occur to me that the endpoints are different.

[2022-11-07 13:48] schochastics commented on #24
@chainsawriot working on this already by any chance? If not, I'll assign this to myself

[2022-11-07 13:49] chainsawriot commented on #24
No, please assign yourself.

(I am streamlining the status data structure)

[2022-11-07 13:55] schochastics opened #25 "add anonymous parameter to get_instance calls"

[2022-11-07 14:24] #25 closed

[2022-11-07 14:48] schochastics commented on #24
I'll add get request for accounts to the list

[2022-11-07 14:54] schochastics opened #27 "Endpoints to cover"
Endpoints (probably not complete list) to add to rtoot

- [x] [GET /api/v1/accounts/:id](https://docs.joinmastodon.org/methods/accounts/)
- [x]  GET /api/v1/accounts/search
- [x] [GET /api/v1/accounts/:id/statuses](https://docs.joinmastodon.org/methods/statuses/)
- [x] [GET /api/v1/statuses/:id](https://docs.joinmastodon.org/methods/statuses/#view-specific-status)
- [x] [GET /api/v1/statuses/:id/r

[2022-11-07 15:36] schochastics commented on #24
@chainsawriot what exactly are you streamlining in the status data structure? I have written a `parse_account()` function now which is modeled after the `parse_status()` function and I'd like to keep the functions consistent
[code]
Are you ok with this?

[2022-11-07 16:58] schochastics commented on #24
closing for now. I am happy with the solution atm

[2022-11-07 16:58] #24 closed

[2022-11-07 17:07] #9 closed

[2022-11-07 17:14] chainsawriot commented on #27
- [ ]  `/api/v1/accounts/:id/statuses` I am on it. Make it compatible with `rtweet`, it's gonna called `get_timeline`.

[2022-11-07 17:18] schochastics commented on #27
ah sorry just pushed something for that but please feel free to delete and use get_timeline, which makes more sense!

[2022-11-07 17:22] schochastics commented on #27
hmm but on another thought, do we want to mask rtweet functions?

[2022-11-07 17:22] chainsawriot commented on #27
@schochastics No worries. Then I switch to something else. Maybe I should focus on [timelines](https://docs.joinmastodon.org/methods/timelines/) (hashtag timeline etc.).

[2022-11-07 17:23] chainsawriot commented on #27
@schochastics Good point! We shouldn't.

[2022-11-07 17:24] schochastics commented on #27
@chainsawriot ok then I leave it as is for now. Maybe we need to rename things later. You can focus on timelines, I check out some more user related stuff

[2022-11-07 17:30] #12 closed

[2022-11-07 18:43] chainsawriot commented on #19
For `rtweet`, `vcr` is used. It also looks easier to use than `httptest`. Maybe we should use `vcr` instead.

[2022-11-07 20:06] chainsawriot opened #31 "Refactoring: Repetitive pattern"
https://github.com/schochastics/rtoot/blob/2d322706fa8b71e2df37fff6c59421884006b945/R/timelines.R#L49-L52

This dance is getting repetitive for all functions using `make_get_request`. But in order to refactor it, we need to have tests first. #19

[2022-11-07 20:22] schochastics commented on #31
agreed. Doing a lot of ctrl+c/ctr+v for the account endpoints atm

[2022-11-07 22:38] schochastics commented on #27
there are still more user level endpoints, but we can "save" them for later

[2022-11-08 08:49] chainsawriot commented on #27
I can also handle the rest of two. The poll one is pretty straightforward. The context one is a bit tricky. For `parse`, we might need to return a list of two tibbles (of statuses).

[2022-11-08 08:50] schochastics commented on #27
yes I leave them for you.

[2022-11-08 10:26] chainsawriot commented on #31
Also this dance

https://github.com/schochastics/rtoot/blob/ff1fd75e7944bc930627b2f6f0475d4e8908f53d/R/datastructure.R#L93-L111

[2022-11-08 10:36] schochastics commented on #31
we have this only twice though? Anything I miss what is problematic here?

[2022-11-08 10:39] chainsawriot commented on #31
@schochastics With the poll, now thrice. Not as repetitive as the first dance, though.

[2022-11-08 10:40] schochastics commented on #31
ah right yeah then we may want to tackle this too

[2022-11-08 12:07] #27 closed

[2022-11-08 12:07] schochastics opened #34 "Missing Endpoints"
The most important endpoints are covered (see #27) but we may still miss some smaller ones

[2022-11-08 12:16] schochastics opened #35 "basic usage vignette"

[2022-11-08 12:24] chainsawriot commented on #19
- [ ] CI
- [ ] Test Coverage

[2022-11-08 13:12] schochastics opened #37 "use username and id interchangably"
It seems not straightforward to find the user id on mastodon but it is required for most account endpoints. Currently one needs to run `search_accounts()` to find the user id. In the future, we should emulate what rtweet does and allow both id and username as input

[2022-11-08 13:53] chainsawriot commented on #19
Test cases for
`timelines_statuses.R`
- [ ] get_status
- [ ] get_reblogged_by
- [ ] get_favourited_by
- [ ] get_context
- [ ] get_poll
- [ ] get_public_timeline
- [ ] get_hashtag_timeline
- [ ] get_home_timeline
- [ ] get_list_timeline

`accounts.R`
- [ ] get_account
- [ ] search_accounts
- [ ] get_account_statuses
- [ ] get_account_followers
- [ ] get_account_following
- [ ] get_account_featured_

[2022-11-08 13:53] chainsawriot commented on #19
Data structure testing

- [ ] accounts

[2022-11-08 15:00] chainsawriot opened #38 "Clear check messages"
- [x] Make the package depend on R >= 3.5 @chainsawriot
- [x] Document the undocumented @schochastics

[code]

[2022-11-08 15:12] schochastics commented on #38
I will do the undocumented stuff. that must be c&p mistakes from me

[2022-11-08 15:25] schochastics commented on #38
should be fixed now

[2022-11-08 16:23] #38 closed

[2022-11-08 16:34] noamross opened #41 "Enable pagination by returning max_id and since_id"
List of statuses and followers take `max_id` and `since_id` in order to fetch paginated results, but the values for these are not returned with the results.  They are available in the `link` header of the HTTP response.  I suggest, as a first pass, that these values be returned as attributes of the return object, parsed or not.

In the longer term, including a pagination option to automatically lo

[2022-11-08 16:50] chainsawriot commented on #41
An interim solution

https://github.com/schochastics/rtoot/wiki/Pagination

[2022-11-08 17:00] noamross commented on #41
Thanks.  That works for statuses. However the `max_id` and `next_id` values for non-status endpoints (e.g.  follower and following endpoints), are internal values that don't match up with the ID values of users (and I suspect blocks and other paginated values).

[2022-11-08 17:23] schochastics commented on #41
Good point. But we definitely need a way of rate limit checking before. I assume this will be a bit more complex so we might move this till after the first release

[2022-11-08 17:28] schochastics opened #43 "Implement Rate limit checking"
To implement pagination (#41), we need to keep track of [rate limits](https://docs.joinmastodon.org/api/rate-limits/)

[2022-11-08 17:31] noamross commented on #41
Agreed, but I think exposing the max/since IDs would be good for a first release.

[2022-11-08 17:33] schochastics commented on #41
Good point, so users can do their own pagination for now

[2022-11-08 17:34] schochastics commented on #41
@chainsawriot I will take a look at this while refactoring redundant code

[2022-11-08 17:56] chainsawriot commented on #43
We can expose the headers (or at least some headers field) within `make_get_request`. The least destructive way is to make it `attr`

[code]

[2022-11-08 18:01] schochastics commented on #43
I was thinking that too.I will built that into the refactoring in #31. We then have a preliminary wiki page which can explain how to paginate accessing the attribute and we built a robust solution later. I think this needs a bit more time to come up with a good solution

[2022-11-08 18:28] JBGruber commented on #18
Not sure if it makes more sense to save the token or the token location as the env variable. The token consists of 3 relevant parts: bearer, instance and type. These could go into one env variable, but we would need to also parse it then. Or they go into 3 variables, which seems a bit clumsy to me.

I would say the file and path in the variable approach is cleaner. But maybe we need the whole toke

[2022-11-08 18:29] chainsawriot opened #44 "No return value for `get_account` when parse = FALSE"
https://github.com/schochastics/rtoot/blob/39c487a53ed77da7b8d391388a0d8f955e7ca6a1/R/accounts.R#L14-L17

Found it out while preparing tests.

[2022-11-08 18:31] #44 closed

[2022-11-08 19:45] chainsawriot commented on #18
@JBGruber Not in a straight sense. The envvar `RTOOT_DEFAULT_TOKEN` is for filtering out the sensitive information (i.e. the token) when creating vcr cassettes. It won't need for testing.

[2022-11-08 20:05] schochastics commented on #41
I implemented a parser for the header
[code]

I ran some tests and it seems stable. The function returns a tibble with rate limits and paging  parameters. I'll attach this as a attr to the output rahter than the whole header

[2022-11-08 20:24] chainsawriot commented on #41
If there is a good way to grab the urls, Maybe we can just use `httr::parse_url`.

[code]

[2022-11-08 20:26] schochastics commented on #41
that'll be much easier than that regex nightmare of mine :D. I check

[2022-11-08 20:32] schochastics commented on #41
[code]
would still need some regex magic I am afraid

[2022-11-08 20:46] chainsawriot commented on #41
So used to `stringr` and I need to find a way to do that with base.

[code]

[2022-11-08 20:48] schochastics commented on #41
jep I am scratching my head over that right now

[2022-11-08 20:50] chainsawriot commented on #41
From [stackoverflow](https://stackoverflow.com/questions/64740433/base-r-equivalent-of-stringrstr-extract-all)

[code]

[2022-11-08 21:02] schochastics commented on #41
[code]
looks better I think?

[2022-11-08 21:52] schochastics commented on #31
testing with this function atm
[code]
this is how the new get functions would look like
[code]

[2022-11-09 09:07] schochastics commented on #41
@noamross You should now be able to do your own pagination: https://github.com/schochastics/rtoot/wiki/Pagination#followers

[2022-11-09 09:08] schochastics commented on #43
rate limits are now returned in the attribute "headers" of the output

[2022-11-09 09:39] schochastics opened #52 "Polish function documentation"
once all other things are done

- [ ] auth_setup
- [ ] get_account
- [ ] get_account_blocks
- [ ] get_account_bookmarks
- [ ] get_account_favourites
- [ ] get_account_featured_tags
- [ ] get_account_followers
- [ ] get_account_following
- [ ] get_account_lists
- [ ] get_account_mutes
- [ ] get_account_relationships
- [ ] get_account_statuses
- [ ] get_context
- [ ] get_favourited_by
- [ ] get_fedi

[2022-11-09 09:42] #31 closed

[2022-11-09 10:43] chainsawriot opened #55 "Parse output from `get_instance_directory`"
https://github.com/schochastics/rtoot/blob/5ab763d9caa6a99a7dea313c5f5c795718e2a97a/R/instances.R#L84

I think it makes more sense now to use `process_request` with `FUN` being `v(parse_account)`.

I can bake that also in #54

[2022-11-09 10:45] chainsawriot opened #56 "Make `get_fedi_instances` testable with `vcr`"
https://github.com/schochastics/rtoot/blob/5ab763d9caa6a99a7dea313c5f5c795718e2a97a/R/instances.R#L11

This is not testable with `vcr`. A easy fix is to use `httr::GET` instead.

Can also bake into #54

[2022-11-09 10:48] schochastics commented on #56
yes please bake that into #54

[2022-11-09 10:48] schochastics commented on #55
yes please bake that into #54

[2022-11-09 11:13] chainsawriot commented on #55
@schochastics Done!

[2022-11-09 11:15] chainsawriot commented on #56
@schochastics Done too!

[2022-11-09 11:25] #56 closed

[2022-11-09 11:25] #55 closed

[2022-11-09 12:33] schochastics opened #57 "rename timeline functions"
At the moment we have `get_home_timeline()`, `get_public_timeline()`, `get_list_timeline()`, and `get_hashtag_timeline()`.
Should we rename those to
`get_timeline_home()`,`get_timeline_public()`,`get_timeline_list()`, and `get_timeline_hashtag()`

would be better for autocomplete in RStudio and more consistent with the get_account functions.

@chainsawriot what do you think? How much would that me

[2022-11-09 13:42] #35 closed

[2022-11-09 13:49] chainsawriot commented on #57
I think the renaming makes sense. It is better to do it now than after the
official release.

About testing, we probably need to rename the cassette files (test cases)
in the fixtures directory.

On Wed, 9 Nov 2022 at 13:33, David Schoch ***@***.***> wrote:

[2022-11-09 13:53] schochastics commented on #57
Ok let me give it a shot. I also suspect that it is only a case of renaming the files.

[2022-11-09 13:56] schochastics commented on #19
anything I need to setup so test work? I get the following error for all account level tests:
[code]

[2022-11-09 14:30] chainsawriot commented on #19
Now i know the cases are not robust, due to the decentralised nature of
mastodon. I think I’ll need to fix that first. But I think you can at the
same time dealing with the renaming. The test cases need to change anyway.

On Wed, 9 Nov 2022 at 14:56, David Schoch ***@***.***> wrote:

[2022-11-09 14:32] schochastics commented on #19
sounds good. Probably gonna have a PR somewhen tonight

[2022-11-09 17:25] #57 closed

[2022-11-09 17:25] #41 closed

[2022-11-09 17:25] schochastics commented on #19
yep gonna set it up

[2022-11-09 18:25] chainsawriot opened #60 "`post_user` not functioning"
https://github.com/schochastics/rtoot/blob/868e3fa554b592f95193bff03758e29e02130759/R/post.R#L123

This line is incorrect.

[2022-11-09 18:32] chainsawriot commented on #60
Fixed

[2022-11-09 18:35] #60 closed

[2022-11-09 19:21] #52 closed

[2022-11-09 20:18] schochastics opened #62 "Release rtoot 0.1.0"
First release:

* [x] `usethis::use_cran_comments()`
* [x] Update (aspirational) install instructions in README
* [x] Proofread `Title:` and `Description:`
* [x] Check that all exported functions have `@return` and `@examples`
* [x] Check that `Authors@R:` includes a copyright holder (role 'cph')
* [x] Check [licensing of included files](https://r-pkgs.org/license.html#code-you-bundle)
* [x] Revie

[2022-11-09 21:17] #19 closed

[2022-11-10 13:40] chainsawriot opened #63 "`auth_setup` raises error when not running under RStudio"
[code]

<sup>Created on 2022-11-10 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2022-11-11 07:20] #63 closed

[2022-11-11 15:48] #62 closed

[2022-11-11 21:52] PythonCoderUnicorn opened #65 "re: get_context( ) function"
Hello rtoot !

I have been reading the documentation and trying out the functions. I have some issues on the function `post_context()`.

1. My main issue is the name of this function, it _should_ be called `post_replies` or 'toot_replies` as that is what it returns, as "context" to me meant there was some sentiment analysis or something going on. Only after testing this with a post and seeing that

[2022-11-11 22:11] PythonCoderUnicorn opened #66 "re: get_account_blocks()"
Hi rtoot !

I am curious if you are open to the idea of changing the name of `get_account_blocks()` to `blocked_users()` as I was unsure what account blocks was. Silly perhaps to not understand that right away, but I understood after I saw the 1 account I have blocked  show up as the result, and then it made sense.

Anyway, thanks for this package. 😄

[2022-11-11 22:34] PythonCoderUnicorn opened #67 "re: content cleaning of strings"
Hi rtoot !

I am running into some string cleaning issues with 3 of the functions: `get_account_bookmarks()`, `get_account_favourites()`
and `get_account_statuses(user_id= )`. I am posting to inform you as it could be just my issue, but in case it's not.

Goal: clean content text using `stringr` to remove the HTML tags and punctuation.

here is what I have tried using but I keep getting text with

[2022-11-11 22:45] chainsawriot commented on #67
https://github.com/schochastics/rtoot/wiki/html

[2022-11-11 23:03] PythonCoderUnicorn commented on #67
thanks !

I did initially try to use the `rvest::html_text2()` function but got an error, seems like i was on the right path, just need to map over it. Glad to know that my idea wasn't wrong.

[2022-11-11 23:22] schochastics commented on #66
I personally wouldnt want to change it because I prefer to have a consistent API. all account level actions start with `get_account_`. We would also have to change `get_account_mutes` to `muted_users` etc. I am happy to be convinced otherwise if others feel that our naming isnt good, but for now, I'd like to leave it as is

[2022-11-11 23:24] schochastics commented on #65
I think we definitely have to rethink the `id` parameter because it means different things in different functions. Re naming, I wouldnt want to change it because context is the official API name and you also get the predecessor posts, so replies doesnt capture that but context does

[2022-11-11 23:26] schochastics commented on #67
I think we will need to add a way of automatically clean the text or at least provide a function to do so

[2022-11-11 23:45] PythonCoderUnicorn commented on #65
okay, I just wanted to share my thoughts. I save these functions with names that I find most accurate and helpful.

as for item 3, I still don't understand why the results are nested lists. Not a big issue, i will just move on regarding it.

[2022-11-12 06:38] schochastics commented on #65
No worries, that was a valid concern :). Regarding 3, we will think about a different structure but i think given that atencedents and descendants are two different sets of post, it makes sense to separate them somehow

[2022-11-14 16:02] mattkerlogue opened #68 "Token as environment variable"
First off, huge thanks and massive congratulations for getting the rtoot package off the ground! :tada:

It's meant that I've been able to port my [Twitter bot](https://github.com/mattkerlogue/narrowbotR/) over to the botsin.space instance.

Related to #7 and #18. I've had to adopt a different approach to authentication as it runs on GitHub Actions, therefore I can't make use of an RDS hidden away

[2022-11-14 17:16] schochastics commented on #68
Bots are an obvious use case for the environment approach to tokens (Haven't thought of that yet) so we need to address this somehow. However, I am also with @JBGruber (see https://github.com/schochastics/rtoot/issues/18#issuecomment-1307656941)  that it is a bit clumsy to write 3 (well technically only 2 are needed) variables as system variables. I'd prefer a solution that allows both RDS and ENV

[2022-11-14 17:26] chainsawriot commented on #68
@mattkerlogue Thanks for the suggestion. As you might know, we have used different names for testing. But I think that can be easily harmonized.

https://github.com/schochastics/rtoot/blob/a24b44de80f0da182c17f0e8cd753bef21c3e216/tests/testthat/setup-rtoot.R#L4-L6

@schochastics I have another solution actually. One envvar.

[code]

<sup>Created on 2022-11-14 by the [reprex package](https://reprex

[2022-11-14 17:30] JBGruber commented on #68
I thought about something in the same lines as @chainsawriot. One token that is parsed to make the list object.

I think it would make sense to keep the option and add a condition to parse the environment variable if `options("rtoot_token" = "environment")`.

[2022-11-14 17:47] schochastics commented on #68
Sounds good to me. @chainsawriot do you want to implement this?

[2022-11-14 18:00] chainsawriot commented on #18
GOTO #68

[2022-11-14 18:00] #18 closed

[2022-11-14 21:19] chainsawriot opened #69 "make untestable parts testable non-interactively"
`auth_setup`'s state of being completely untested scares me.

[2022-11-14 21:32] schochastics commented on #43
still need a function to explicitly check the rate limit

[2022-11-14 21:33] schochastics opened #70 "Pagination of results"
A workaround is explained in the [wiki](https://github.com/schochastics/rtoot/wiki/Pagination) but we need to built this in the package

[2022-11-15 05:09] jsta commented on #63
This still seems to be an issue (I installed from source using `install_github`).

[code]

[2022-11-15 08:11] schochastics commented on #43
No endpoint exists to check the ratelimit. ratelimit is only returned in the header of a get request.

[2022-11-15 09:20] #66 closed

[2022-11-15 11:08] #68 closed

[2022-11-15 11:15] chainsawriot commented on #68
@mattkerlogue You can now convert your token

[code]

[2022-11-15 11:25] chainsawriot opened #72 "`auth_setup` won't run when `path` is FALSE / `name` is FALSE"
Despite the claim in the documentation that

https://github.com/schochastics/rtoot/blob/6cb54be861889de817ba3dae56102b4c70a56f3a/R/auth.R#L11-L12

[code]

<sup>Created on 2022-11-15 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

A fix is forthcoming.

[2022-11-15 11:35] chainsawriot commented on #72
#69

[2022-11-15 11:53] chainsawriot commented on #69
https://github.com/schochastics/rtoot/blob/6cb54be861889de817ba3dae56102b4c70a56f3a/R/auth.R#L32-L42

Spin off this non-interactive part and test this part.

[2022-11-15 14:11] chainsawriot opened #75 "Add parameter `verbose`"
The following functions emit messages

- [ ] `post_toot`
- [ ] `post_user`
- [ ] `verify_credentials`

[2022-11-15 18:16] schochastics commented on #70
[code]

@chainsawriot WIP of the pagination. Just to get some feedback (see `#CHANGE`). I try to not make the process visible at all for the user. New internal parameters would be n (the actual number of records to return) and page_size (the maximal records returned for an endpoint).
Few things:
- rate limit checking is easy to add.  Already have a wait function implemented.
- So far only works wi

[2022-11-15 19:32] schochastics commented on #70
Yes not breaking tests is my main goal besides not changing any defaults. I will not make in PR until I know that nothing breaks. Thanks for the feedback

[2022-11-15 19:36] #75 closed

[2022-11-16 09:09] schochastics commented on #67
After giving it some thought, we will not add such a function. This would require to add rvest as a dependency and that is not justified given that we only need one function from it. The solution will remain accessible in the [wiki](https://github.com/schochastics/rtoot/wiki/html)

[2022-11-16 09:09] #67 closed

[2022-11-16 12:16] #70 closed

[2022-11-16 12:18] schochastics opened #79 "make pkgdown site"
deploy via gh pages

[2022-11-16 12:53] chainsawriot commented on #69
- [ ] `auth_setup` - 60% done
- [ ] `process_query`'s rate limit

[2022-11-16 13:52] #79 closed

[2022-11-17 10:15] chainsawriot opened #82 "`check_token_rtoot` won't work as expected when `token` is not `rtoot_bearer`"
[code]

The selection question invoked by this doesn't lead to `auth_setup`.

A fix is forthcoming.

[2022-11-17 10:22] chainsawriot commented on #82
#69

[2022-11-17 11:02] #82 closed

[2022-11-17 11:52] schochastics opened #84 "Enable streaming"
Consulting https://docs.joinmastodon.org/methods/timelines/streaming/, this seems quite simple.

[code]
This prints the public stream of mastodon.social to console

[2022-11-18 09:54] schochastics opened #87 "test streaming"
once #84 is fixed we probably need tests for the streaming?
@chainsawriot I would try to implement some (want to learn this)

[2022-11-18 12:38] schochastics opened #88 "get_fedi_instances() only returns 100 instances"
[code]

<sup>Created on 2022-11-18 with [reprex v2.0.2](https://reprex.tidyverse.org)</sup>

[2022-11-18 13:15] #84 closed

[2022-11-18 13:18] chainsawriot commented on #88
@schochastics I suspect that it is related to the speed (or the regularity of intervals) of getting data from `api.index.community`. When put `get_fedi_instances` under a debugger, I can get more than 100 rows. I have tried to put `Sys.sleep(2)` there too, but it won't work. But the following works.

[code]

[2022-11-18 13:20] schochastics commented on #88
jep just made the same observation

[2022-11-18 13:22] schochastics commented on #88
maybe we should switch to https://instances.social/? They have an official API

[2022-11-18 13:48] schochastics commented on #88
Still sometimes getting the error even with the random sleep. have to find another solution. Maybe switching API is still the best option...

[2022-11-18 14:04] schochastics commented on #88
That could be true. I will monitor this a bit and push a "random sleep fix" later

[2022-11-18 14:18] AmeliaMN opened #89 "Package-level documentation"
I like being able to use `?` to jump into the documentation for a package, e.g.

[code]

This requires a field in the roxygen, I believe `"_PACKAGE"`. (See https://github.com/rstudio/tinytex/issues/361 for Yihui's explanation when I asked for this on `tinytex`).

[2022-11-18 14:47] schochastics commented on #89
@AmeliaMN Good suggestion. Should be available now in the github version. I close this for now but happy to reopen if something is missing

[2022-11-18 14:47] #89 closed

[2022-11-18 19:39] schochastics commented on #88
forgot to tag in push, but this done now

[2022-11-18 19:39] #88 closed

[2022-11-20 21:32] giocomai opened #95 ""no rate limit information found" on Pleroma/Pixelfed, etc."
I understand this is described as a package for the Mastodon API, but it appears this may work just as well with all other parts of the Fediverse relying on ActivityPub.

Indeed, the version 0.1.0 on CRAN seems to work nicely also with [Pleroma](https://pleroma.social/)  ~~and [Pixelfed](https://pixelfed.org/)~~, including calls that require authorization.

The current development version (as of 2

[2022-11-20 23:04] schochastics commented on #95
Haven't looked at other fediverse instances yet. Happy that it seems to work so well already. I will think about including this in a later release. For now, we keep focusing on Mastodon

[2022-11-20 23:18] chainsawriot commented on #87
@schochastics I'll give it a try.

[2022-11-21 10:24] chainsawriot opened #96 "`stream_*` functions with `append = FALSE`"
I think the `append` should be ignored when `file_name` doesn't exist.

[code]

<sup>Created on 2022-11-21 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2022-11-21 11:00] chainsawriot opened #97 "[FR] Fail invalid argument for `timeout` earlier"
https://github.com/schochastics/rtoot/blob/414f98d8eb23c4c822690da59cd4ada0c2f0ed46/R/stream_statuses.R#L146

So that it won't emit the message about "Writing to...".

[code]

<sup>Created on 2022-11-21 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2022-11-21 11:05] chainsawriot commented on #97
Also, it might be a better idea to use `stop(..., call. = FALSE)`

[2022-11-21 11:12] schochastics commented on #96
`if (append) "ab" else "b")` should probably also be `if (append) "aw" else "w")` since we are writting a text file (json) and not a binary file

[2022-11-21 11:32] playmobilmeister opened #99 "how do I support the project?"
Just found this awesome package. So you accept donations ? Can I help with testing somehow ?

[2022-11-21 11:36] schochastics commented on #97
@chainsawriot can you elaborate what you mean? Should I change all our stop calls to include `call. = FALSE` ?

[2022-11-21 11:47] chainsawriot commented on #97
[code]

<sup>Created on 2022-11-21 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2022-11-21 11:48] schochastics commented on #97
gottcha thanks

[2022-11-21 12:01] schochastics commented on #99
@playmobilmeister happy you like it. Creating and maintaining this package is somewhat part of our job so I wouldn't want to accept donations at this point. The best way you can help is use the package, report issues and make suggestions for new features and improvements :)

[2022-11-21 12:23] #96 closed

[2022-11-21 13:17] chainsawriot opened #100 "`parse_stream`'s corner case of empty file"
[code]

<sup>Created on 2022-11-21 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

A fix is forthcoming.

[2022-11-21 14:43] #100 closed

[2022-11-21 14:45] schochastics opened #103 "add missing parameters to `get_account_statuses()`"
see discussion in #102

[2022-11-22 10:54] chainsawriot opened #105 "`search_accounts`'s `instance` argument is not needed"
The API documentation states that the [search endpoint can only be accessed by a user token](https://docs.joinmastodon.org/methods/accounts/#search).

With a user token, the following occur:

[code]

<sup>Created on 2022-11-22 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

By providing `instance`, the function assumes we want to make a request without a token and the API giv

[2022-11-22 14:03] #105 closed

[2022-11-23 14:02] mcanouil opened #107 "Add a word of caution about using `rtoot` to toot"
Hi,

I faced an issue on Fosstodon.org (now resolved in some ways).
My account was restricted because of the use of `rtoot` for violating the following Code of Conducts rules:

It appears, at least on Fosstodon.org, the rules are more stricter than the one written.
I was told that automated toots are forbidden.
Thus, I would highly suggest to add some interactive/verbose validation from the user w

[2022-11-23 16:44] schochastics commented on #107
Good catch. I am however reluctant to put a new parameter in. I'll add something to the description for now regarding spam and checking the ToS if automated tooting is allowed

[2022-11-23 16:47] #107 closed, assigned to nobody

[2022-11-23 17:23] mcanouil commented on #107
The issue is that you are not notified your account was restricted.
It's "hidden" in settings/account, thus a user might not even be aware of this.
This is why I really think posting content should be fully deliberate.

I noticed this today but was flagged three days ago.
![image](https://user-images.githubusercontent.com/8896044/203610338-302e4958-c764-4481-ae5b-7cc010118733.jpeg)

[2022-11-23 17:31] olyerickson commented on #107
Very sorry if I’m one of the “bad guys” here…I didn’t technically “spam”,
but I did rtoot from Fosstodon.org this morning…

On Wed, Nov 23, 2022 at 12:24 PM Mickaël Canouil ***@***.***>
wrote:

--
John S. Erickson, Ph.D.
Director of Operations, The Rensselaer IDEA
Deputy Director, Web Science Research Center (RPI)
<http://idea.rpi.edu/> <o ***@***.***>***@***.***>
Twitter & Skype: olyerickson
Fedi

[2022-11-23 19:02] mcanouil commented on #107
I get your point totally.

Off topic: I still feel the burn 😅
In Fosstodon case, according to the CoC as currently written I was allowed to post using rtoot since I was actively participating, but there are humans being ...

[2022-11-23 19:09] mcanouil commented on #107
@olyerickson as from the email exchange with one administrator, after my appeal was rejected, your Wordle automated toot should get you a "strike" for "spam" resulting in your account being restricted.
If it's not already the case, I strongly suggest to turn it off.

[2022-11-23 19:15] mcanouil commented on #107
@schochastics To close this fully, may I suggest to also add the caution notice on the "get started" vignette? <https://schochastics.github.io/rtoot/articles/rtoot.html#posting-statuses>

[2022-11-23 19:28] olyerickson commented on #107
I see your point… but that is not an automated toot. Those are composed by
my Shiny app and then hand pasted… but I’ll be more careful and will look
into another instance for those posts.

BTW how do they warn us???

On Wed, Nov 23, 2022 at 2:09 PM Mickaël Canouil ***@***.***>
wrote:

--
John S. Erickson, Ph.D.
Director of Operations, The Rensselaer IDEA
Deputy Director, Web Science Research Cente

[2022-11-23 19:29] olyerickson commented on #107
+1

On Wed, Nov 23, 2022 at 2:15 PM Mickaël Canouil ***@***.***>
wrote:

--
John S. Erickson, Ph.D.
Director of Operations, The Rensselaer IDEA
Deputy Director, Web Science Research Center (RPI)
<http://idea.rpi.edu/> <o ***@***.***>***@***.***>
Twitter & Skype: olyerickson
Fediverse: @***@***.***

[2022-11-23 19:32] mcanouil commented on #107
They do not ... even if it's written you get a warning first ...
But to be fair, the administrators are probably overwhelmed with the arrival of new users thus the need to upscale the servers.

[2022-11-25 05:59] schochastics opened #108 "stream can return malformed json"
It looks like sometimes not the whole json line is returned. I will fix this during parsing

[2022-11-25 07:19] schochastics opened #109 "parsing is slow"
both status and accounts

[2022-11-25 07:23] schochastics commented on #109
bottlenecks:
- creating empty tibbles -> moved to internal data

[2022-11-25 08:33] #108 closed

[2022-11-25 08:33] #109 closed

[2022-11-28 09:23] chainsawriot opened #112 "Not exporting `print.rtoot_client`"
https://github.com/schochastics/rtoot/blob/5821642244d09dbb755bd6557eed7cdccb15be4f/R/utils.R#L2-L5

Should it still be exported?

There is no normal way for a user to create (and see) a client object, except maybe: `rtoot:::get_client()`.

[2022-11-28 09:27] chainsawriot commented on #69
- [ ] This logic

https://github.com/schochastics/rtoot/blob/5821642244d09dbb755bd6557eed7cdccb15be4f/R/utils.R#L100-L109

[2022-11-28 09:35] chainsawriot commented on #69
- [ ] `verify_credentials` for public tokens

[2022-11-28 10:07] schochastics commented on #112
hmm probably don't need it anymore. I can quickly "unexport" it

[2022-11-28 10:10] #112 closed

[2022-11-28 10:56] chainsawriot commented on #69
- [ ] `auth_setup` verbose

[2022-11-28 14:25] chainsawriot opened #113 "`auth_setup` doesn't respect `verbose`"
[code]

<sup>Created on 2022-11-28 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

A fix is forthcoming.

[2022-11-28 15:04] #113 closed

[2022-11-28 19:22] davidbody opened #115 "Polls with non-empty `own_votes`"
The `parse_poll` function doesn't properly parse polls with non-empty `own_votes`.

When `own_votes` is not empty, the following error occurs:

[code]

The JSON looks like this:

[code]

Copied from https://docs.joinmastodon.org/entities/Poll/#example

I would be happy to work on a fix, but I'm not sure how to add a failing test for this in keeping with the project's existing tests. I see the `vcr

[2022-11-28 19:52] chainsawriot commented on #115
@davidbody Thanks for reporting this. I can confirm this and the following is a reprex. A fix is forthcoming.

[code]

<sup>Created on 2022-11-28 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2022-11-28 20:37] #115 closed

[2022-11-28 21:52] davidbody commented on #115
:+1: Package reinstalled and working. Thanks!

[2022-11-29 09:46] playmobilmeister opened #117 "request: get_instance_restrictions()"
it would be great to have a function that gets information out the list of restricted servers (which ones are limited/suspended, public reason etc.).

[2022-11-29 09:47] #99 closed

[2022-11-29 10:29] schochastics commented on #117
@playmobilmeister do you refer to this endpoint: https://docs.joinmastodon.org/methods/instance/#domain_blocks
Havent found any other so far. I will add a wrapper for this endpoint

[2022-11-29 10:34] chainsawriot commented on #117
#34

[2022-11-29 12:03] schochastics commented on #117
Appears to not work for most instances. I get a 404 which means that admins have blocked this endpoint, which I understand. I will still make a PR for completeness sake

[2022-11-29 12:16] chainsawriot commented on #117
@schochastics I've tested it. Actually, the API doc is wrong. The correct path is "/api/v1/instance/domain_blocks" (the extra s).

Ref
https://github.com/mastodon/documentation/pull/1070/files/0e03dde4b6cc6607aaee197eadf1ddd2208535ef

[2022-11-29 12:21] chainsawriot commented on #117
[code]

<sup>Created on 2022-11-29 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2022-11-29 12:23] schochastics commented on #117
ah thanks!

[2022-11-29 12:56] #117 closed

[2022-11-30 09:03] playmobilmeister commented on #117
wow thanks. so fast !

[2022-11-30 16:50] schochastics opened #120 "Release rtoot 0.2.0"
Prepare for release:

* [x] `git pull`
* [x] Check [current CRAN check results](https://cran.rstudio.org/web/checks/check_results_rtoot.html)
* [x] Check if any deprecation processes should be advanced, as described in [Gradual deprecation](https://lifecycle.r-lib.org/articles/communicate.html#gradual-deprecation)
* [x] [Polish NEWS](https://style.tidyverse.org/news.html#news-release)
* [x] `devto